.delete-type {
  position: relative;
  top: 3px;
  left: 10px;
  font-size: 12px;
  color: red;
  display: inline-block;
}

.delete-type label {
  position: relative;
  bottom: 3px;
  left: 1px;
}

/*.create-event-form {
	text-align: left;
	margin: 1%;
}
.input {
	width: 25%;
}

.tickets-types {
	border:solid #2a3641 1px;
	margin: 2%;	

}*/