.admin-dashboard {
  padding: 0;
}

.admin-dashboard h2 {
  margin-bottom: 30px;
}

.admin-dashboard .card + .admin-dashboard .card {
  margin-left: 5px;
}

.all-time-revenues, .all-time-tickets-sold {
  font-size: 30px;
}

.activity-time-ago {
  color: grey;
  font-size: 0.75em;
  margin-left: 5px;
}

.refresh-admin-activity-btn {
  border: 0;
  background: 0;
  color: grey;
}

.admin-activity {
  border-left: 2px solid rgba(251, 194, 18, 0.7);
  height: 300px;
  overflow-y: scroll;
}