.card {
  border: 0;
  border: 2px solid rgba(163, 163, 163, 0.4);
  border-radius: 10px;
  width: 85%;
  margin-bottom: 20px;
} 

.home .card {
  width: 85%;
}

.card-img-top {
  border-radius: 8px;
}

.card-block {
  text-align: left;
  padding: 7px 20px;
}

p.alert {
  margin-bottom: 0;
}

a.card-subtitle {
  color: #434343;
  text-decoration: none;
}

a.card-subtitle:hover {
  color: #434343;
  text-decoration: underline;
}

.card-header {
}

.card-footer {
  border-top: 2px solid rgba(251, 194, 18, 0.7);
  background: none;
  margin-top: 10px;
  padding: 5px 0;
}

.card-footer a {
  color: #434343;
  text-decoration: none
}

.card-footer a:hover {
  text-decoration: underline;
}

.card-title, 
.card-title:hover {
  font-size: 35px;
  color: #434343;
}

.overview-line {
  white-space: pre-wrap;
}

.agenda-line {
  white-space: pre-wrap;
}

.col-sm-4, .col-md-4, .col-lg-4, .col-xl-4 {
  padding: 0;
}

.event-title {
  font-size: 50px;
  color: #434343;
  text-decoration: none;
}

.event-title:hover {
  color: #434343;
}

.you-bought-message {
  margin-top: 30px;
}

.hottest-event {
  font-size: 17px;
}

.hottest-event .delete-event-btn {
  display: none;
}