.card {
  border: 0;
  border: 2px solid rgba(163, 163, 163, 0.4);
  border-radius: 10px;
} 

.card-img-top {
  border-radius: 8px;
}

.card-block {
  text-align: left;
  padding: 20px;
}

a.card-subtitle,
a.card-subtitle:hover {
  color: #434343;
  text-decoration: underline;
}

a.card-footer,
a.card-footer:hover {
  color: #434343;
  text-decoration: none;
}

.card-title, 
.card-title:hover {
  color: #434343;
}

.overview-line {
  white-space: pre-wrap;
}

.agenda-line {
  white-space: pre-wrap;
}

.col-sm-4, .col-md-4, .col-lg-4, .col-xl-4 {
  padding: 0;
}