.App-header {
  background-color: #fbc212;
}

.info-nav ul {
  padding-left: 0;
  margin-left: 10px;
}

.action-nav ul {
  margin-right: 10px;
}

.info-nav ul li, .action-nav ul li {
  display: inline-block;
}

.info-nav ul li + li, .action-nav ul li + li {
  margin-left: 10px;
}

.logo {
  width: 70px;
}