 .App-header {
  background-color: #fbc212;
  /*display: flex;
  flex-direction: column;
  justify-content: center;*/
  position: relative;
}

.search-events-form {
  /*align-self: center;*/
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.basic-nav ul {
  padding-left: 0;
  margin-left: 10px;
}

.advanced-nav {
  margin-right: 10px;
  text-align: right;
}

.basic-nav ul li, .advanced-nav ul li, .advanced-nav p {
  display: inline-block;
}

.basic-nav ul li + li, .advanced-nav ul li + li, .advanced-nav p + a {
  margin-left: 10px;
}

h1.logo img {
  width: 70px;
}