* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

.App {
  text-align: center;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

.pull-start {
  float: left;
}

.pull-end {
  float: right;
}

.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.signup, .login {
  width: 30%;
  margin: auto;
}

.login-as-admin {
  display: block;
}

.all-time-revenues, .all-time-tickets-sold {
  font-size: 30px;
}

.activity-time-ago {
  color: grey;
  font-size: 0.75em;
  margin-left: 5px;
}

.refresh-admin-activity-btn {
  border: 0;
  background: 0;
  color: grey;
}